<ul *ngIf="this.reader" class="items">
  <li>
    <a>
      <span class="badge">ID:</span>{{ reader.userId }}
    </a>
  </li>
  <li>
    <a>
      <span class="badge">Age:</span>{{ reader.age }}
    </a>
  </li>
  <li>
    <a>
      <span class="badge">Sex:</span>{{ reader.sex }}
    </a>
  </li>
  <li>
    <a>
      <span class="badge">Name:</span>{{ reader.name }}
    </a>
  </li>
  <li>
    <a>
      <span class="badge">Phone:</span>{{ reader.phone }}
    </a>
  </li>
  <li>
    <a>
      <span class="badge">Email:</span>{{ reader.email }}
    </a>
  </li>
</ul>
